<footer>
    <div class="buy">
        <h6>Buy</h6>
        <ul>
            <li><a href="">Registration</a></li>
            <li><a href="">Stores and Patners</a></li>
        </ul>
    </div>
    <div class="smartfleek">
        <h6>About</h6>
        <ul>
            <li><a href="">About smartfleek</a></li>
            <li><a href="">Policies</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div class="help-care">
        <h6>Help & Care</h6>
        <ul>
            <li><a href="">Contact Us</a></li>
            <li><a href="Payments"></a></li>
            <li><a href="Report abuse"></a></li>
            <li><a href="">Returns</a></li>
            <li><a href="Store Pick"></a></li>
        </ul>
    </div>
    <div class="services">
        <h6>Smartfleek services</h6>
        <ul>
            <li><a href="">Production services</a></li>
            <li><a href="">Logistics services</a></li>
        </ul>
    </div>
    <div class="footer-end">
        <h6>Follow Us</h6>
        <ul>
            <li><a href="">instagram</a></li>
            <li><a href="">facebook</a></li>
            <li><a href="">youtube</a></li>
            <li><a href="">twitter</a></li>
        </ul>
    </div>
</footer>

<!-- JS for all pages -->
<script src="../javascript/allJs.js"></script>
