<%- 
    include('header');
-%>
    <link rel="stylesheet" href="css/index.css">
    <title></title>
</head>
<body>
    <%- 
        include('top_nav');
    -%>
    <div id="promotion">
        <div id="top-navigation">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Fashion</a></li>
                <li><a href="">Health & Beauty</a></li>
                <li><a href="">Electronics</a></li>
            </ul>
            <hr>
        </div>
        <div id="categories">
            <h5 class="title-categories"></h5>
            <hr>
            <ul>
                <li><a href="">Phones</a></li>
                <li><a href="">Clothing</a></li>
                <li><a href="">Shoes</a></li>
                <li><a href="">Laggage & Bags</a></li>
                <li><a href="">Watches & Jewellery</a></li>
                <li><a href="">Beauty</a></li>
                <li><a href="">Wholesale</a></li>
            </ul>
        </div>
        <div id="slideshow">
            <img src="images/cloth.jpg" alt="slideshow" id="slideshow-image">
            <span id="prev">&#10094;</span>
            <span id="next">&#10095;</span>
        </div>
        <div id="promo-ads">
            <a href="" class="ads">Product Delivery</a>   
            <a href="" class="ads">Gift From Us</a>
            <a href="" class="ads">Summer Sale</a> 
            <a href="" class="ads">Payment</a>  
        </div>
    </div>
    <div id="fleek-section">
        <!-- JS handles the div.fleeks and fleek-image -->
    </div>

    <!-- Footer -->
    <%- 
        include('footer');
    -%>
    
    <script src="javascript/index.js"></script>
</body>
</html>