<%- 
    include('header');
-%>
    <link rel="stylesheet" href="css/product.css">
    <title></title>
</head>
<body>
    <div class="product-upload">
        <div id="product-nav">
            <!-- <h3>Prouduct Navigation Bar</h3> -->
        </div>
        <div id="product-form">
            some random
        </div>
    </div>
        <!-- FOOTER SECTION -->
<%-
    include('footer');
-%>
<script src="javascript/trending.js"></script>
</body>
</html>