<%- 
    include('header');
-%>
    <link rel="stylesheet" href="css/product.css">
    <title></title>
</head>
<body>
    <div class="product-upload">
        <div id="product-nav">
            <h3>Product Navigation Bar</h3>
        </div>
        <div id="product-form">
            <form action="" method="GET" id="form-product" name="product-form">
                <legend>Product Specification</legend>
                <input type="text" name="name" placeholder="Product name">
                <input type="text" name="brand" placeholder="Brand name">
                <input type="text" name="" placeholder="">
                <input type="text" name="" placeholder="">
                <input type="text" name="" placeholder="">
                <input type="text" name="" placeholder="">
                <input type="button" value="+Add product input" id="add_product">
            </form>
        </div>
    </div>
        <!-- FOOTER SECTION -->
<%-
    include('footer');
-%>
<script src="javascript/product.js"></script>
</body>
</html>