<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e383af7a44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/register.css">
    <title>Register | SF</title>
</head>
<body>
    <div class="container-1">
        <div id="register-contents">
            <div id="logo">
                <img src="" alt="logo">
                <h3 class="title"></h3>
            </div>
            <form action="/" method="POST" id="form-register">
                <legend id="form-legend">Create an account for free with Us</legend>
                <input type="text" name="username" placeholder="Username">
                <input type="number" name="phone" placeholder="Account phone number">
                <input type="password" name="password" id="password" placeholder="Password">
                <p id="form-caption">By signing up you agree to receive our newsletter</p>
                <label class="form-check-label">
                    <input type="checkbox" name="agreeTerms"> 
                    I agree to the <a href="">Terms of Service</a> and 
                    <a href="">Privacy Policy</a> 
                  </label>
                <input type="submit" value="Register">
            </form>
        </div>
        <div id="cover">
            <div id="cover-contents">
                <h3 class="title"></h3>
                <p>Join the current Prospering E-commerce website market in Tanzania</p>
            </div>
        </div>
    </div>
    <script src="javascript/register_page.js"></script>
    <script src="javascript/allJs.js"></script>
</body>
</html>