<div id="top-menu">
    <div id="company-logo">
        <div id="logo">
            <!-- <img src="" alt="Indoors logo"> -->
            <i class='fas fa-tshirt'></i>
            <h5 class="title"></h5>
        </div>
    </div>
    <div id="search-form">
        <form action="" method="GET">
            <input type="text" name="search_query" id="seach-query" placeholder="Search..">
            <input type="submit" name="search" value="Search">
        </form>
    </div>
    <div id="menu-navigation">
        <ul>
            <li id="sign-in"><i class="fas fa-user"></i> Sign In</li>
            <li id="orders"><i class="fas fa-briefcase"></i> Orders</li>
            <li id="message"> <i class="fas fa-comment-dots"></i> Message</li>
            <li id="cart"><i class="fas fa-cart-plus"></i> Cart</li>
        </ul>
    </div>
</div>