<%- 
    include('header');
-%>
    <link rel="stylesheet" href="css/trending.css">
    <title></title>
</head>
<body>
    <!-- TOP NAVIGATION AND ACCOUNTS -->
<%-
    include('top_nav');
-%>

    <div id="fleek-section">
        <!-- JS handles the div.fleeks and fleek-image -->
    </div>

    <!-- FOOTER SECTION -->
<%-
    include('footer');
-%>
    <script src="javascript/trending.js"></script>
</body>
</html>