/* FLEX NAV TOP*/
#top-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

#top-menu #company-logo, #search-form, #menu-navigation{
    padding: 15px;
    margin: 0;
    height: 100%;
    width: 100%;
    /* border: black 1px solid; */
}

#company-logo{
    flex: 1;
    order: 1;
}
#search-form{
    flex: 3;
    order: 2;

}
#menu-navigation{
    flex: 2;
    order: 3;
}
/* COMPANY LOGO */
#logo{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}
#logo i, img{ 
    margin: 0;
    display: inline-block;
    color: #15285b;
}
#logo h5{
    letter-spacing: 5px;
    margin: 0;
    display: inline-block;
    color: #15285b;
}

/* SEARCH INPUTS */
#search-form form{
    width: 100%;
    /* border: red 1px solid; */
}

#search-form form input{
    border: #15285b solid 1.5px;
    height: 100%;
}

#search-form form input[type=text]{
    width: 84%; 
    padding-left: 40px;
    border-radius: 25px 0 0 25px;
}

#search-form form input[type=submit]{
    width: 15%;
    position: relative;
    left: -5px;
    border-radius: 0 25px 25px 0;
}

/* MENU NAVIGATION */
#menu-navigation ul{
    height: 100%;
    padding: 10px;
}
#menu-navigation ul li{
    padding: 5px;
    display: inline-block;
    height: 100%;
    margin-right: 5px;
}
