/*
**STYLE SPECIFICALLY FOR HOME PAGE
*/
/*GENERAL STYLE  */

/* PROMOTION grids */
#promotion{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 50px 450px;
}

#promotion #top-navigation, #categories, #slideshow, #promo-ads{
    padding: 15px;
}

#top-navigation{
    grid-column: 1/5;
    grid-row: 1;
    /* border: solid black 1px; */
}
#categories{
    grid-column: 1;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2)
}
#slideshow{
    grid-column: 2/4;
    position: relative;
}
#promo-ads{
    grid-column: 4;
}
/* grid nav */
#top-navigation ul{
    width: 35%;
    margin: 0 auto;
    font-size: medium;
}
#top-navigation ul li{
    padding: 0 10px;
    display: inline-block;
}

#top-navigation ul li a {
    /* color: #00B7FF; */
    color: #15285b;
    text-decoration: none;
  }
/* Grid categories */
.title-categories{
    /* letter-spacing: 1px; */
    width: 60%;
    margin: 0 auto;
}
#categories ul{
    margin: 0 auto;
    width: 60%; 
    padding: 0 5px;
}
#categories ul li{
    padding: 5px 0;
    width: 100%;
}
#categories ul li a{
    color: #15285b;
}

/* Slideshow */
#slideshow img{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}
#slideshow span{
    position: absolute;
    top: 50%;
    color: #15285b;
    transition: 0.6s ease;
    user-select: none;
}
#slideshow span:hover{
    color: #fff;
}
#next {
    right: 0;
    border-radius: 0 4px 4px 0;
  }
#prev{
    left: 0;
    border-radius: 4px 0 0 4px;
}
#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* PROMOTION */
#promo-ads{
    display: grid;
    /* grid-auto-rows: minmax(100px, auto); */
}
.ads{ 
    /* border-top:0.04px solid #15285b; */
    border-bottom:0.04px solid #15285b;
    padding-top: 10px;
}


/* MEDIA DEVICE flex*/
@media(max-width: 768px){
    #company-logo{
        flex-basis: 100%;
        order: 1;
    }
    #search-form{
        flex-basis: 100%;
        order: 3;
        display: none;
    }
    #menu-navigation{
        flex-basis: 100%;
        order: 2;
    }

}