body {
    padding: 2px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  *{
    padding: 0;
    margin: 0;
  }
  
  a{
    /* color: #00B7FF; */
    color: #15285b;
    text-decoration: none;
  }
  a:hover {
    /* color: #00B7FF; */
    color: #15285b;
    text-decoration: none;
  }

  input[type=button], input[type=submit], input[type=reset] {
    border: none;
    cursor: pointer;
    background: #15285b ;
    color: #ffffff;
}

  li{
    list-style: none;
  }
  * {
    box-sizing: border-box;
  }
img{
  padding: 5px;
  border: 1px solid #ddd;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
input{
  padding: 10px;
  outline: none;
  /* border: #15285b solid 1.5px; */
}
  /* FLEEK SECTION */
#fleek-section{
  background-color: #f2f3f7;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* border: solid black; */
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 20px;
  padding: 40px;
}

.fleeks{
  background-color: #fff;
}
.fleeks img{
  height: 75%;
  width: 100%;
}
